###############
# Build files #
###############
bin/
obj/
[Ll]og/
[Bb]uild/
TestResults/
*.tmp
*.log
*.bak

#####################
# User-specific IDE #
#####################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##########################
# Visual Studio Code     #
##########################
.vscode/

######################
# NuGet & Packages   #
######################
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json
*.nuspec
.nuget/